.w {
    width: 1200px;
    margin: 0 auto;
}

.hearder {
    height: 84px;
    border-bottom: 2px solid #b1191a;
    padding-top: 16px;
}

.hearder .logo {
    width: 171px;
    height: 61px;
}

.regsiterarea {
    height: 520px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
}

.regsiterarea_hd {
    padding: 0 10px;
    height: 41px;
    background-color: #dddddd;
    line-height: 40px;
    color: #333;
}

.regsiterarea_hd h4 {
    float: left;
    font-size: 18px;
    font-weight: normal;
}

.regsiterarea_hd .login {
    float: right;
    font-size: 14px;
}

.regsiterarea_hd .login a {
    color: #c81623;
}

.regsiterarea_bd {
    width: 600px;
    margin: 54px auto 0;
}

.regsiterarea_bd li {
    margin-bottom: 20px;
}

.regsiterarea_bd label {
    display: inline-block;
    width: 90px;
    text-align: right;
    font-size: 14px;
    color: #4d4d4d;
}

.regsiterarea_bd input[type="text"],
.regsiterarea_bd input[type="password"] {
    width: 240px;
    height: 36px;
    border: 1px solid #999;
}

.regsiterarea_bd span {
    color: #df3033;
}

.regsiterarea_bd span i {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: url(../images/error.png);
}

.regsiterarea_bd ul li:nth-child(5) span {
    color: green;
}

.regsiterarea_bd ul li:nth-child(5) span i {
    background: url(../images/success.png);
}

.regsiterarea_bd .sofa {
    padding-left: 175px;
    margin-top: -10px;
}

.regsiterarea_bd .sofa span {
    display: inline-block;
    font-size: 12px;
    color: #fff;
    width: 34px;
    height: 13px;
    line-height: 13px;
    text-align: center;
}

.regsiterarea_bd .sofa span:nth-child(1) {
    background-color: #de1111;
}

.regsiterarea_bd .sofa span:nth-child(2) {
    background-color: #40b83f;
}

.regsiterarea_bd .sofa span:nth-child(3) {
    background-color: #f79100;
}

.regsiterarea_bd .agree {
    margin-top: 42px;
    padding-left: 140px;
    color: #4d4d4d;
}

input[type=checkbox] {
    cursor: pointer;
    position: relative;
    width: 15px;
    height: 15px;
    font-size: 14px;
    margin-right: 12px;
    vertical-align: middle;
}

input[type=checkbox]::after {
    position: absolute;
    top: 0;
    background-color: #f2f2f2;
    color: #1ba1e6;
    width: 15px;
    height: 15px;
    display: inline-block;
    visibility: visible;
    text-align: center;
    content: ' ';
}

input[type=checkbox]:checked::after {
    content: "√";
    font-size: 12px;
    font-weight: bold;
}

.regsiterarea_bd .agree a {
    color: #1ba1e6;
}

.regsiterarea_bd input[type="submit"] {
    margin: 54px 0 0 140px;
    width: 200px;
    height: 34px;
    background-color: #c81623;
}

.footer .mod_copyright {
    height: 119px;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
}

.footer .mod_copyright .one {
    height: 25px;
    padding-left: 100px;
}

.footer .mod_copyright .one li {
    float: left;
    padding: 0 15px;
    border-left: 1px solid #666;
}

.footer .mod_copyright .one li:first-child {
    border-left: 0px solid #666;
}